body {
    margin: 0;

    font-family: Arvo, sans-serif;
    font-weight: bold;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#container > aside {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;

    color: #ff8d00;
    font-size: 4vw;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #ff8d00;
    border-radius: 15% / 30%;
    padding: 20px;
    border: 0;

    cursor: pointer;
    color: white;
    font-family: Arvo, sans-serif;
    font-weight: bold;
    font-size: 4vw;
    -webkit-tap-highlight-color: transparent;
}

#game-board {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game-board > div {
    width: calc(100vw / 6);
    height: calc(100vh / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8d00;
    border-radius: 25%;
    color: white;
    font-size: 7.5vw;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (orientation: portrait) {
    #container {
        flex-direction: column;
    }

    #container > aside {
        font-size: 5vh;
    }

    button {
        font-size: 5vh;
    }

    #game-board > div {
        width: calc(100vw / 3);
        height: calc(100vh / 6);

        font-size: 7.5vh;
    }
}
